<ul class="navigation">
  <li class="mobile-navigation-breadcrumb">
    <em>Navigation</em>
  </li>
  <% if current_user != nil %>
    <li>
      <p id="acount">
        <i class="fa fa-user"></i>
        <i class="fa fa-circle"></i>
        <a href="<%= account_path %>">
          Account
          <em style="color:white;">logout / switch user</em>
        </a>
      </p>
    </li>
  <% else %>
    <li>
      <p id="acount">
        <i class="fa fa-user"></i>
        <i class="fa fa-circle"></i>
        <a href="<%= account_path %>">
          Sign In or Sign Up
          <em style="color:white;text-transform:none;font-weight:bold;">Richmond Read for Richmond</em>
        </a>
      </p>
    </li>
  <% end %>
  <% if current_student != nil %>
      <li>
        <p>
          <a href="<%= priprofile_index_path %>">
            <i class="fa fa-home"></i>
            <i class="fa fa-circle"></i>
            <%= current_student.first %>'s &nbsp; Profile
            <em style="color:white;"><%= current_student.first %> <%= current_student.last %></em>
          </a>
        </p>
      </li>
  <% end %>
  <li class="mobile-navigation-breadcrumb">
    <em>Copyright 2016. All rights reserved.</em>
  </li>
</ul>
