<script>
  jQuery(document).ready(function () {
    jQuery("#logout1").click(function () {
      jQuery("#logout_form1").submit();
    });
    jQuery("#logout2").click(function () {
      jQuery("#logout_form2").submit();
    });
  });
</script>

<%= form_tag(destroy_user_session_path, id: 'logout_form1', method: 'post') do %><% end %>
<%= form_tag(logout_path, id: 'logout_form2', method: 'post') do %><% end %>

<ul class="navigation">
  <li class="mobile-navigation-breadcrumb">
    <em>Navigation</em>
  </li>
  <% if current_user != nil %>
      <li>
        <p id="logout1" style="margin-top:15px;">
          <i class="fa fa-user"></i>
          <i class="fa fa-circle"></i>
          Admin Logout
          <!--em><%= current_user.email %></em-->
        </p>
      </li>
  <% end %>
  <% if current_student != nil %>
      <li>
        <p id="logout2" style="margin-top:15px;">
          <i class="fa fa-user"></i>
          <i class="fa fa-circle"></i>
          Logout
        </p>
      </li>
      <li>
        <p style="margin-top:15px;">
          <a href="<%= priprofile_index_path %>">
            <i class="fa fa-home"></i>
            <i class="fa fa-circle"></i>
            <%= current_student.first %>'s &nbsp;&nbsp; Profile
            <!--em>my home page</em-->
          </a>
        </p>
      </li>
  <% else %>
      <li>
        <p>
          <a href="/">
            <i class="fa fa-home"></i>
            <i class="fa fa-circle"></i>
            Richmond Read-A-Thon
            <em>sponsor and help fund our school</em>
          </a>
        </p>
      </li>
  <% end %>
  <li class="mobile-navigation-breadcrumb">
    <em>Get Social</em>
  </li>
  <li class="mobile-navigation-socials">
    <p>
      <a href="#">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-link"></i>
        Promote on Facebook
      </a>
    </p>
    <p>
      <a href="#">
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-link"></i>
        Promote on Twitter
      </a>
    </p>
  </li>
  <li class="mobile-navigation-breadcrumb">
    <em>Copyright 2016. All rights reserved.</em>
  </li>
</ul>
