<script>
  jQuery(document).ready(function () {
    jQuery(".selectable_avatar").click(function () {
      var avatar_id = jQuery(this).data("avatar-id");
      jQuery("#avatar_id").val(avatar_id);
      jQuery("#avatar_update").submit();
    });
  });
</script>

<%= form_tag(priprofile_avatar_update_path, id: 'avatar_update', method: 'post') do %>
    <input type="hidden" id="avatar_id" name="avatar_id"/>
<% end %>

<div class="content box-960">
  <div class="small-breadcrumb">
    <div class="left-breadcrumb">
      <%= link_to 'Private Profile', priprofile_index_path %>
      <a href="#"><i class="fa fa-angle-right"></i>Avatar Selection</a>
    </div>
    <div class="right-breadcrumb">
    </div>
    <div class="clear"></div>
    <div style="margin-bottom:20px;" class="decoration"></div>
  </div>

  <div class="portfolio-three-item-categories-title">
    <p>Unlock these images at your next level</p>
  </div>
  <div style="margin-bottom:20px" class="portfolio-three-item-categories">
    <a href="#" class="selected-portfolio-three-cat" id="all">All</a>
    <a href="#" id="dragon">Dragons</a>
    <a href="#" id="princess">Princess</a>
    <a href="#" id="animal">Animal</a>
    <a href="#" id="sport">Sports</a>
  </div>
  <div style="margin-bottom:20px;" class="clear decoration"></div>

  <div class="portfolio-three-wrapper">
    <% @nextlevel.each do |avatar| %>
        <div class="<%= avatar.category %> portfolio-three-item">
          <div>
            <div class="overlay"></div>
            <a href="javascript:void(0)" class="clicked-gallery" title="<%= avatar.category %> L<%= avatar.level_id %>"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
            <img src="/images/profiles/<%= avatar.id %>.png" class="responsive-image preload" style="display: block;">
          </div>
        </div>
    <% end %>
  </div>

  <div style="" class="decoration no-bottom"></div>
  <div class="portfolio-three-item-categories-title" style="margin-bottom:20px; margin-top:10px;">
    <p>Available Images</p>
  </div>
  <div style="margin-bottom:20px;" class="clear decoration"></div>

  <div class="portfolio-three-wrapper full-bottom">

    <% @avatars.each do |avatar| %>
        <div class="<%= avatar.category %> portfolio-three-item">
          <div>
            <div class="overlay"></div>
            <a href="javascript:void(0)" data-avatar-id="<%= avatar.id %>" class="clicked-gallery selectable_avatar" title="<%= avatar.category %> L<%= avatar.level_id %>"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
            <img src="/images/profiles/<%= avatar.id %>.png" class="responsive-image preload" style="display: block;">
          </div>
        </div>
    <% end %>

  </div>
</div>