<script>
  jQuery(document).ready(function () {
    jQuery(".close-big-notification").click(function () {
      jQuery(".big-notification").toggle();
    });

    jQuery("#challenge").click(function () {
      jQuery("#accept-challenge").submit();
    });
  });
</script>

<%= form_tag(priprofile_challenge_path, id: 'accept-challenge', method: 'post') do %>
<% end %>

<%= render "pubprofiles/share", student: current_student %>

<% unless Challenge.days_remaining > 0 %>
    <blockquote class="quote-one blue-quote" style="margin:20px;">
      <div style="color:black;float:left;"><img style="width:150px;" src="/images/the_end.png"/></div>
      <div style="float:left;margin-left:30px;margin-top:50px;"><strong>Congratulations!  The Read for Richmond has ended.</strong>
        <br/><span style="color:black">Thank you for reading and helping to raise money for our school!</span>
      </div>
    </blockquote>
<% end %>

<% if Challenge.days_remaining > 0 && Challenge.days_remaining < 16 && !current_student.daily_challenge_complete %>
    <blockquote class="quote-one yellow-quote">
      <div style="color:black;float:left;"><img style="width:50px;" src="/images/badges/badge<%= Challenge.daily_challenge.id %>.png"/></div>
      <div style="float:left;margin-left:15px;margin-top:12px;"><strong>Today's Challenge:</strong>
        <span style="margin-left:10px;color:black;"><%= Challenge.daily_challenge.description %></span>
      </div>
    </blockquote>
<% end %>

<% if @levelup %>
    <div class="big-notification red-notification" style="margin:20px;margin-bottom:0;">
      <h5 class="uppercase">Congratulations! - Level Up!</h5>
      <center>
        <a href="#" class="close-big-notification">x</a>
        <span style="color:white;">You have reached level <%= current_student.level_id %> and unlocked new avatars!</span>
          <br/>
          <% @new_avatars.each do |avatar| %>
            <ul style="list-style-type: none;margin: 10px;padding: 0;text-align:center;display:inline-block">
              <li style="float:left;display:inline;">
                <a href="<%= priprofile_avatar_path %>">
                  <img src="/images/avatars/<%= avatar.id %>.png" style="width:100px;">
                </a>
              </li>
            </ul>
        <% end %>
        <div style="clear:both;"></div>
        <p>
          <a style="color:white;" href="<%= priprofile_avatar_path %>">Click <strong>here</strong> to select a new avatar or see which avatars are coming up next.</a>
        </p>
      </center>
    </div>
<% end %>

<% if @challenge %>
    <div class="big-notification red-notification" style="margin:20px;margin-bottom:0;">
      <h5 class="uppercase">Completed Daily Challenge!</h5>
      <center>
        <a href="#" class="close-big-notification">x</a>
        <span style="color:white;">Congratulations! - You have completed the Daily Challenge!</span>
        <img src="/images/badges/badge<%= @challenge.id %>.png"/>
        <span style="color:white;">
          <%= @challenge.description %><br/>
          <i>The badge medals you have earned will be display in your profile page.</i>
        </span>
      </center>
    </div>
<% end %>

<div class="content">
  <div style="margin-bottom:20px;"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom" style="margin-right:0;">
      <h1 style="margin-bottom:0;font-size:30px;"><%= current_student.first %> <%= current_student.last[0, 1] %></h1>
      <em><%= current_student.teacher.grade.ordinalize %> Grade - <%= current_student.teacher.name %></em>

      <a style="margin-top:10px;margin-left:60px;font-weight: bold;" href="<%= priprofile_avatar_path %>">change your avatar</a>
      <a href="<%= priprofile_avatar_path %>"><img style="margin-bottom: 20px; border-radius: 25px; border: 2px solid #000; height:275px;" src="/images/avatars/<%= current_student.avatar_id %>.png"/></a>

      <% if Challenge.days_remaining > 0 %>
        <div style="margin-bottom:20px;">
          Minutes you have read today.<br/>
          <%= link_to "- 15", priprofile_subtract15m_path, method: :post, style: "margin:0;height:70px;font-size:20px;padding-top:25px;", class: "button button-light" %>
          <span class="button" style="margin:0;height:70px;vertical-align: top;width:120px;background-color:#e6ebec;color:#5a5a5a;font-size:40px;padding-top:20px;"><%= current_student.student_minutes_today %></span>
          <%= link_to "+ 15", priprofile_add15m_path, method: :post, style: "margin:0;height:70px;font-size:20px;padding-top:25px;", class: "button button-light" %>
          <br/>Use the + and - to adjust the time.<br/><br/>

          <% if Challenge.days_remaining > 0 && Challenge.days_remaining < 16 && !current_student.daily_challenge_complete %>
              <a id="challenge" href="#" class="checkbox checkbox-class-3">
                <span style="color: rgba(243, 156, 18,1.0); font-weight: bold;">I have completed the Daily Challenge</span><br/>
                <%= Challenge.daily_challenge.description %>
              </a>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="one-fifth-responsive one-half-full" style="float:right;">
      <div class="pricing-table pricing-selected-blue">
        <h1>
          <strong style="font-size: 1.3em;"><%= current_student.level.name %></strong>
          <br/>
          <em>"<%= current_student.level.description %>"</em>
        </h1>
        <h2>
          <%= number_to_currency(current_student.money_raised) %> Raised
          <em>
            <span style="font-weight:bold; color: #FFFFFF;"><%= number_to_currency(current_student.pledged_flat) %></span> in pledges
          </em>
        </h2>
        <ul>
          <li><strong><%= days_to_end %> days remaining</strong></li>
          <li>Read at home for <strong><%= mins_to_words(current_student.student_minutes_total) %></strong></li>
          <li>Read at school for <strong><%= mins_to_words(current_student.teacher_minutes_total) %></strong></li>
          <% if current_student.level_id < 13 %>
            <li><strong><%= current_student.mins_to_next_level %></strong> minutes to next level</li>
          <% end %>
          <li><strong><%= current_student.challenges.length %></strong> badges earned</li>
          <li><strong><%= current_student.pledges.where('col_amt is not null').length %></strong> people have pledged you</li>
        </ul>
          <a href="<%= priprofile_pledge_path %>" style="width:170px;" class="button center-button button-red">Request a pledge</a>
      </div>
    </div>
    <div class="clear"></div>
    <br/>
  </div>
</div>

<div class="content">
  <div class="box-960" style="margin-bottom:25px;">
    <div class="decoration"></div>

    <div class="container no-bottom">
      <%= render "pubprofiles/badges", student: current_student, private: true %>
      <%= render "pubprofiles/pledges", student: current_student, show_all_pledge_link: true %>
      <div class="clear"></div>
    </div>
  </div>
</div>

