<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Promote Your Read-A-Thon Profile</h3>
      <h5>share your profile on social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<blockquote class="quote-one yellow-quote">
  <div style="color:black;float:left;"><img style="width:50px;" src="/images/badges/badge14.png"/></div>
  <div style="float:left;margin-left:15px;margin-top:12px;"><strong>Daily Challange:</strong>
    <span style="margin-left:10px;color:black;">Read at least 15 minutes to a pet.</span>
  </div>
</blockquote>


<div class="content">
  <div style="margin-bottom:20px;"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom" style="margin-right:0;">
      <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %></h1>
      <em><%= @student.teacher.grade.ordinalize %> Grade - <%= @student.teacher.last %> sensei</em>

      <a style="margin-top:10px;margin-left:35px" href="<%= priprofile_avatar_path %>">change your profile image</a>
      <img style="margin-bottom: 20px; border-radius: 25px; border: 2px solid #000; height:240px;" src="/images/profiles/dragon_l3.png"/>

      <div style="margin-bottom:20px;">
        Minutes you have read today.<br/>
        <%= link_to "- 15", priprofile_subtract15m_path, method: :post, style: "margin:0;height:70px;font-size:20px;padding-top:25px;", class: "button button-light" %>
        <span class="button" style="margin:0;height:70px;vertical-align: top;width:120px;background-color:#e6ebec;color:#5a5a5a;font-size:40px;padding-top:20px;"><%= @student.student_minutes_today %></span>
        <%= link_to "+ 15", priprofile_add15m_path, method: :post, style: "margin:0;height:70px;font-size:20px;padding-top:25px;", class: "button button-light" %>
        <br/>Use the + and - to adjust the time.<br/><br/>
        <a id="challange" href="#" class="checkbox checkbox-class-3"><span style="color: rgba(243, 156, 18,1.0); font-weight: bold;">I have completed the Daily Challange</span><br/> I read 15 minutes to to my pet.</a>
      </div>

    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="one-fifth-responsive one-half-full" style="float:right;">
      <div class="pricing-table pricing-selected-green">
        <h1>
          <strong style="font-size: 1.3em;">Level <%= @student.level_id %> Reader</strong>
          <br/>
          <em><%= @student.level.description %></em>
        </h1>
        <h2>
          <%= number_to_currency(@student.money_raised) %> Raised
          <em>pledged at <%= number_to_currency(@student.pledged_per_hour) %> an hour</em>
        </h2>
        <ul>
          <li>You have read for <%= mins_to_words(@student.student_minutes_total) %></li>
          <li>30 minutes to next level</li>
          <li>8 badges earned</li>
          <li><%= @student.pledges.length %> people have pledged you</li>
        </ul>
        <a href="<%= priprofile_pledge_path %>" class="button center-button button-red">Request a Pledge</a>
      </div>
    </div>
    <div class="clear"></div>
    <br/>
  </div>
</div>

<div class="content">
  <div class="box-960" style="margin-bottom:25px;">
    <div class="decoration"></div>

    <div class="container no-bottom">
      <div class="one-half-responsive">
        <h5>Badges you have earned</h5>

        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge1.png"/>
          Read to Pet
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge11.png"/>
          Read Outside
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge3.png"/>
          Read Under Blankets
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge4.png"/>
          Read In The Car
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge5.png"/>
          Read With Friends
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge6.png"/>
          Read In Japanese
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge7.png"/>
          Read With Parent
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge8.png"/>
          Read While Running
        </div>

      </div>

      <div class="one-half-responsive last no-bottom">
        <h5>Recent people who have pledged</h5>
        <% @student.pledges.each do |pledge| %>
            <blockquote class="quote-one">
              <strong>
                <%= pledge.name %> has pledged
                <% if pledge.ptype == "flat" %>
                    flat donation of <%= number_to_currency(pledge.amount) %>
                <% else %>
                    $<%= number_to_currency(pledge.amount) %> an hour
                <% end %>
              </strong><br/><%= pledge.message %>
            </blockquote>
            <br><br>
        <% end %>
        <p><a href="">click to view all your pledges</a></p>
        <br>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

