<%= render "pubprofiles/share", student_id: current_student.id %>

<div class="content box-960">
  <%= render 'breadcrumb', page_name: 'Request Pledge' %>

  <% if flash[:alert] %>
      <blockquote class="quote-one green-quote">
        <div style="float:left;margin-left:15px;"><strong>Pledge Request Email Sent</strong>
          <span style="margin-left:10px;color:black;">If you know other people this is your opportunity to contact them as well.</span>
        </div>
      </blockquote>
      <br/>
  <% end %>

  <div class="container center-heading">
    <p class="center-text larger">
    <h5>Support Reading At Richmond Elementary By Request A Pledge!</h5>
    The best way to get pledges is to ask.  Email, Facebook, and Twitter are all great ways to get the word out.  You can also spread the word over IM, SMS, or be retro and write a hand written letter.
    <br/><br/>
    Make sure to include the following link to allow others to find your profile.
    <strong><%= profile_bitly_url %></strong>

    </p><br/>
  </div>
  <div style="width:330px;" class="orange-decoration half-bottom"></div>
  <div class="container half-bottom">
    <div class="one-third-responsive">
      <div class="center-icon-column red-center-icon-column">
        <h1><i class="fa fa-envelope fa-3x"></i></h1>
        <h5>Email</h5>
        <p class="half-bottom">
          Grandparents, aunts, uncles, and family friends are a great resource for sponsorship.
          <br/><br/>Send them an email personal email using our email wizard.
          We will help you with samples ideas.
        </p>
        <a href="<%= priprofile_pledge_email_path %>" style="width:160px;" class="button button-red center-button"><i style="margin-right:10px;" class="fa fa-envelope"></i>Email Wizard</a>
      </div>
    </div>
    <div class="decoration hide-if-responsive half-bottom"></div>
    <div class="one-third-responsive">
      <div class="center-icon-column blue-center-icon-column">
        <h1><i class="fa fa-facebook-official fa-3x"></i></h1>
        <h5>Facebook</h5>
        <p class="half-bottom">
          Let your community know about you Read-a-Thon.  If you or your parents have a facebook account have them use the button below to share your Read-a-Thon with your social circle.
        </p>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= pub_profile_url(current_student.id) %>" style="width:160px;" class="button button-blue center-button"><i style="margin-right:10px;" class="fa fa-facebook"></i>Request Pledge</a>
      </div>
    </div>
    <div class="decoration hide-if-responsive half-bottom"></div>
    <div class="one-third-responsive no-bottom last">
      <div class="center-icon-column green-center-icon-column">
        <h1><i class="fa fa-twitter fa-3x"></i></h1>
        <h5>Twitter</h5>
        <p class="half-bottom">
          The world is listening to your twitter feed, so broadcast out the opertunity to support your school via this Read-a-thon.
        </p>
        <center>
        <a class="twitter-share-button button button-green center-button"
           href="https://twitter.com/share"
           data-size="large"
           data-url="pub_profile_url(student_id)"
           data-text="Help support me in my Read-A-Thon through Richmond Elementary School.  <%= profile_bitly_url %>">
          Request Pledge
        </a>
        </center>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

