<%= render "pubprofiles/share", student_id: current_student.id %>

<div class="content box-960">
  <%= render 'breadcrumb', page_name: 'Request Pledge' %>

  <% if flash[:alert] %>
      <blockquote class="quote-one green-quote">
        <div style="float:left;margin-left:15px;"><strong>Pledge Request Email Sent</strong>
          <span style="margin-left:10px;color:black;">If you know other people this is your opportunity to contact them as well.</span>
        </div>
      </blockquote>
      <br/>
  <% end %>

  <div class="container center-heading">
    <p class="center-text larger">
    <h5>Support Reading At Richmond Elementary By Request A Pledge!</h5>
    The best way to get pledges is to ask.  Email, Facebook, and Twitter are all great ways to get the word out.  You can also spread the word over IM, SMS, or use pinterest
    <a href="https://www.pinterest.com/pin/create/button/">
      <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
    </a>.
    <br/><br/>
    Copy and past the following link to allow others to find your profile.
    <strong><%= profile_bitly_url %></strong>

    </p><br/>
  </div>
  <div style="width:330px;" class="orange-decoration half-bottom"></div>
  <div class="container half-bottom">
    <div class="one-third-responsive">
      <div class="center-icon-column red-center-icon-column">
        <h1><i class="fa fa-envelope fa-3x"></i></h1>
        <h5>Email</h5>
        <p class="half-bottom">
          Grandparents, aunts, uncles, and family friends are a great resource for sponsorship.
          <br/><br/>Send them an email personal email using our email wizard.
          We will help you with samples ideas.
        </p>
        <a href="<%= priprofile_pledge_email_path %>" style="width:160px;" class="button button-red center-button"><i style="margin-right:10px;" class="fa fa-envelope"></i>Email Wizard</a>
      </div>
    </div>
    <div class="decoration hide-if-responsive half-bottom"></div>
    <div class="one-third-responsive">
      <div class="center-icon-column blue-center-icon-column">
        <h1><i class="fa fa-facebook-official fa-3x"></i></h1>
        <h5>Facebook</h5>
        <p class="half-bottom">
          Let your community know about you Read-a-Thon.  If you or your parents have a facebook account have them use the button below to share your Read-a-Thon with your social circle.
          <br/><br/>If you would like more info and examples <a href="#facebook_pledge">click here</a>
        </p>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= pub_profile_url(current_student.id) %>" style="width:160px;" class="button button-blue center-button"><i style="margin-right:10px;" class="fa fa-facebook"></i>Request Pledge</a>
      </div>
    </div>
    <div class="decoration hide-if-responsive half-bottom"></div>
    <div class="one-third-responsive no-bottom last">
      <div class="center-icon-column green-center-icon-column">
        <h1><i class="fa fa-twitter fa-3x"></i></h1>
        <h5>Twitter</h5>
        <p class="half-bottom">
          The world is listening to your twitter feed, so broadcast out the opertunity to support your school via this Read-a-thon.
        </p>
        <center>
        <a class="twitter-share-button button button-green center-button"
           href="https://twitter.com/share"
           data-size="large"
           data-url="pub_profile_url(student_id)"
           data-text="Help support me in my Read-A-Thon through Richmond Elementary School.  <%= profile_bitly_url %>">
          Request Pledge
        </a>
        </center>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<br/><br/>
<div id="facebook_pledge" class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">Facebook Pledge Request</h1>
    <p class="center-text larger transparent">Get the work out to your network of friends and family.</p>
  </div>
</div>
<div class="content">
  <div class="box-960">
    <div class="container center-heading">
      <p class="center-text larger full-bottom">
        You the Facebook Share Form to help get the word out about your profile.  Make sure to use the description box to explain why Richmond is important to you
        and why others should want to help support it.  Here are a few examples to help get you started:


        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= pub_profile_url(current_student.id) %>" style="width:160px;" class="button button-blue center-button"><i style="margin-right:10px;" class="fa fa-facebook"></i>Request Pledge</a>
      </p>
    </div>
  </div>
</div>

<div id="twitter_pledge" class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">Email Pledge Request</h1>
    <p class="center-text larger transparent">Directly ask a family member or friend.</p>
  </div>
</div>
<div class="content">
  <div class="box-960">
    <div class="container center-heading">
      <p class="center-text larger full-bottom">
        The information you provide us is only used to this read-a-thon. It will not be shared with any 3rd party
        organizations. Or used in any way by our organization other than to help power this read-a-thon.
        We ask for your name or nickname, so that your sponsor can see who sponsdered them. Your email address will be
        used to contact you at the end of the read-a-thon for payment. We will not use thia address
        to contact you for any other purposes.
      </p>
    </div>
  </div>
</div>

