<%= render "pubprofiles/share", student: current_student %>

<div class="content box-960">
  <%= render 'breadcrumb', page_name: 'Request Pledge' %>

  <% if flash[:alert] %>
      <blockquote class="quote-one green-quote">
        <div style="float:left;margin-left:15px;"><strong>Pledge Request Email Sent</strong>
          <span style="margin-left:10px;color:black;">If you know other people this is your opportunity to contact them as well.</span>
        </div>
      </blockquote>
      <br/>
  <% end %>

  <div class="container center-heading">
    <p class="center-text larger">
    <h5>Support Reading At Richmond Elementary By Requesting A Pledge!</h5>
    Together we can do it!  Spread the word about Richmond’s Read-A-Thon and give friends and family an opportunity to support <%= current_student.first %> and our school.
    The e-mail, Facebook, and Twitter tools below provide an automatic link to your reader's pledge page.
    If you’d prefer to use your own e-mail account to share, be sure to include this link: <strong><%= current_student.bitly_pledge %></strong>
    </p><br/>
  </div>
  <div style="width:50%;" class="orange-decoration half-bottom"></div>

  <div class="container half-bottom">
    <div class="column-3 one-third-responsive">
      <h1 style="text-align:center;"><i class="fa fa-envelope fa-3x"></i></h1>
      <h5 style="padding-top:0;">Email</h5>
      <p class="half-bottom">
        Our Email Wizard allows you to share info about the Read-A-Thon info with an individual or group.
        You can include a personal note, and the message will include a link directly to your reader’s profile & pledge page.
      </p>
      <a href="<%= priprofile_pledge_email_path %>" style="width:160px;" class="button button-red center-button"><i style="margin-right:10px;" class="fa fa-envelope"></i>Email Wizard</a>
      <div class="clear"></div>
    </div>

    <div class="column-3 one-third-responsive">
      <h1 style="text-align:center;"><i class="fa fa-facebook-official fa-3x"></i></h1>
      <h5 style="padding-top:0;">Facebook</h5>
      <p class="half-bottom">
        Sharing on Facebook is a great way to connect with your friends and family!  With one click you can share your student’s Read-A-Thon journey and help generate support for Richmond.
      </p>
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= current_student.bitly_profile %>" style="width:160px;" class="button button-blue center-button"><i style="margin-right:10px;" class="fa fa-facebook"></i>Request Pledge</a>
      <div class="clear"></div>
    </div>

    <div class="column-3 one-third-responsive last">
      <h1 style="text-align:center;"><i class="fa fa-twitter fa-3x"></i></h1>
      <h5 style="padding-top:0;">Twitter</h5>
      <p class="half-bottom">
        Tweet, tweet!  Share your student’s Read-A-Thon page with your Twitter followers.  It’s an easy, effective way to engage friends, family, and followers in supporting your student.
      </p>
      <center>
        <a class="twitter-share-button button button-green center-button"
           href="https://twitter.com/share"
           data-size="large"
           data-url="<%=  current_student.bitly_pledge %>"
           data-text="Help support me in my Read-A-Thon through Richmond Elementary School.">
          Request Pledge
        </a>
      </center>
      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>
</div>

