<%= render "pubprofiles/share", student: current_student %>

<div class="content box-960">
  <%= render 'breadcrumb', page_name: 'Email Pledge Wizard' %>

  <div class="container center-heading">
    <p class="center-text larger">
      Use the tabs below to choose one of our standard pledge request email templates. Then customize it with your
      personal message.
    </p>

    <div style="margin-top:20px;">
      <div class="horizontalTab">
        <ul>
          <li><a href="#tab-3">Single</a></li>
          <li><a href="#tab-4">Group</a></li>
          <li><a href="#tab-5">Free Form</a></li>
        </ul>

        <div id="tab-3">
          <%= form_tag(priprofile_pledge_email1_path, method: "post") do %>
              <input onfocus="if (this.value=='To: Email Address (required)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'To: Email Address (required)'"
                     type="text" class="text-input-one good-value" name="email"
                     value="To: Email Address (required)">
              Dear <input onfocus="if (this.value=='Name or Nickname (required)') this.value = ''"
                          onblur="if (this.value=='') this.value = 'Name or Nickname (required)'"
                          type="text" class="text-input-one good-value" name="name"
                          style="display:inline-block; width:300px;"
                          value="Name or Nickname (required)">,
              <textarea class="textarea-input contactTextarea field-deco requiredField" name="message"
                        onfocus="if (this.value=='Personal Message (optional)') this.value = ''"
                        onblur="if (this.value=='') this.value = 'Personal Message (optional)'">Personal Message (optional)</textarea>

              <br/>
              I am excited to participate in Richmond's Read-A-Thon this year, and I need your help!  You can support literacy and help Richmond's teachers by pledging my Read-A-Thon today.
              <br/><br/>
              I have made a commitment to reading every day.  I will keep track of the minutes I read, and you can visit my profile page any time to see how I'm doing.
              <br/><br/>
              Your pledge will help support Richmond's two-classroom teaching model, which helps me learn in both Japanese and English each day.  You will also be supporting P.E., library time, computer literacy, and the teachers and staff that make Richmond such a great school.
              <br/><br/>
              You can choose to pledge each hour that I read, or make a flat donation of any amount.  The easist way to pledge me is by filling out this online pledge form: <%= current_student.bitly_pledge %>.
              <i>(Note from the Richmond School Foundation: If you choose to make flat donation today, you will be re-directed to the donation page at All Hands Raised, who administers our foundation.
                Don't worry if you see an error message at the top of the donation page!  Once you fill in your information and click "Submit Donation", it will disappear.)</i>
              You can also mail a check to Richmond School Foundation, 2276 SE 41st Ave., Portland, OR, 97214.  Just be sure to put my name in the memo line!
              <br/><br/>
              Thank you for encouraging me to read, and for supporting literacy and teachers at Richmond!
              <br/><br/>
              Sincerely, <%= current_student.first %> <%= current_student.last %>
              <input type="submit" class="button button-green center-button half-bottom" value="Send Email"/>
          <% end %>
        </div>

        <div id="tab-4">
          <%= form_tag(priprofile_pledge_email2_path, method: "post") do %>
                <textarea class="textarea-input contactTextarea field-deco requiredField" name="emails"
                          onfocus="if (this.value=='To: Email Addresses (separated by comma)') this.value = ''"
                          onblur="if (this.value=='') this.value = 'To: Email Addresses (separated by comma)'">To: Email Addresses (separated by comma)</textarea>

              Dear Friends and Family,
              <br/><br/>
              I am excited to participate in Richmond's Read-A-Thon this year, and I need your help!  You can support literacy and help Richmond's teachers by pledging my Read-A-Thon today.
              <br/><br/>
              I have made a commitment to reading every day.  I will keep track of the minutes I read, and you can visit my profile page any time to see how I'm doing.
              <br/><br/>
              Your pledge will help support Richmond's two-classroom teaching model, which helps me learn in both Japanese and English each day.  You will also be supporting P.E., library time, computer literacy, and the teachers and staff that make Richmond such a great school.
              <br/><br/>
              You can choose to pledge each hour that I read, or make a flat donation of any amount.  The easist way to pledge me is by filling out this online pledge form: <%= current_student.bitly_pledge %>.
              <i>(Note from the Richmond School Foundation: If you choose to make flat donation today, you will be re-directed to the donation page at All Hands Raised, who administers our foundation.
                Don't worry if you see an error message at the top of the donation page!  Once you fill in your information and click "Submit Donation", it will disappear.)</i>
              You can also mail a check to Richmond School Foundation, 2276 SE 41st Ave., Portland, OR, 97214.  Just be sure to put my name in the memo line!
              <br/><br/>
              Thank you for encouraging me to read, and for supporting literacy and teachers at Richmond!
              <br/><br/>
              Sincerely, <%= current_student.first %> <%= current_student.last %>
              <input type="submit" class="button button-green center-button half-bottom" value="Send Email"/>
          <% end %>
        </div>

        <div id="tab-5">
          <%= form_tag(priprofile_pledge_email3_path, method: "post") do %>
                <textarea class="textarea-input contactTextarea field-deco requiredField" name="emails"
                          onfocus="if (this.value=='To: Email Addresses (separated by comma)') this.value = ''"
                          onblur="if (this.value=='') this.value = 'To: Email Addresses (separated by comma)'">To: Email Addresses (separated by comma)</textarea>
              <textarea class="textarea-input contactTextarea field-deco requiredField" name="message"
                        onfocus="if (this.value=='Message (required)') this.value = ''" style="height:200px;"
                        onblur="if (this.value=='') this.value = 'Message (optional)'">Message (required)</textarea>
              <input type="submit" class="button button-green center-button half-bottom" value="Send Email"/>
          <% end %>
        </div>
      </div>
    </div>

    <br/>
  </div>
</div>
