<% if days_to_end > 0 %>
    <blockquote class="quote-one red-quote">
      <strong><%= days_to_end %> Days Remaining</strong>
      <span style="color:black;">Our Read-A-Thon ends <%= Rails.configuration.end_date.strftime("%b %d") %></span>
    </blockquote>
<% else %>
    <blockquote class="quote-one yellow-quote">
      <strong>Our Read-A-Thon has closed</strong>
      <span style="color:black;">but it is never too late to help the Richmond Foundation.  <strong>Donate here!</strong></span>
    </blockquote>
<% end %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom">
      <h5>Support the Richmond Read-A-Thon!</h5>
      <p>
        The Richmond Read-A-Thon is an exciting way to encourage students to read each day.
        The Read-A-Thon is also a fundraiser for the Richmond School Foundation (RSF), supporting the school's budget
        for teachers and staff.
        The Read-A-Thon raises funds through pledges, and the more our kids read, the more support the school receives!
        <br/><br/>
        The RSF is proud to be a part of this fun project that helps our teachers and staff AND encourages our amazing
        young readers.
        Please support our students by making a pledge to the Read-A-Thon and sharing your student's Read-A-Thon page
        with friends and family.
      </p>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <div>
        <p class="dropcaps dropcaps-2">
          Students and parents: To access your personal Read-A-Thon page and begin logging your reading minutes, please
          enter the code provided in your Read-A-Thon e-mail.
          If you have not received your code, please e-mail us at
          <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
          <br/>
          <a href="<%= priprofile_index_path %>" class="button button-icon button-green">
            <i class="fa fa-angle-double-right"></i>Student Home Page</a>
        </p>
      </div>
      <div style="margin-top:30px;">
        <p class="dropcaps dropcaps-2">
          Teachers: Use your Read-A-Thon portal page to log the minutes that students read during class time.
          If you are having trouble logging in or have not received a username/password, please contact
          <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
          <br/>
          <a href="<%= teachers_overviews_path%>" class="button button-icon button-green"> <i class="fa fa-angle-double-right"></i>Teacher
            Portal</a>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="box-960 half-bottom">
    <p class="dropcaps dropcaps-2">
      If you want to pledge a reader, please contact your student or their parent for a link to their personal
      pledge page, or contact us <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a> with the student's name, and
      we'll send a link directly to your e-mail. You can
      donate directly to the Richmond School Foundation any time:
      <a href="http://allhandsraised.org/donate/">http://allhandsraised.org/donate/</a>
    </p>
  </div>

  <%= render 'money' %>
</div>
