<script>
  $(document).ready(function () {
    $('#paypal').submit();
  });
</script>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom" style="margin-right:5%">
      <p style="font-weight: bold; color: green;">Redirecting to PayPal ...</p>
    </div>
  </div>
</div>

<form id="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="upload" value="1">
  <input type="hidden" name="business" value="mgiacomi-facilitator@gltech.com">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="notify_url" value="<%= paypal_callback_url %>">
  <input type="hidden" name="shopping_url" value="<%= pub_profile_url(@pledge.student.id) %>">
  <input type="hidden" name="invoice" value="<%= @pledge.id %>-<%= @pledge.student.id %>-<%= Time.now.to_i %>">
  <input type="hidden" name="item_name_1" value="Flat Pledge to <%= @pledge.student.first %> <%= @pledge.student.last %>">
  <input type="hidden" name="item_number_1" value="Pledge Id: <%= @pledge.id %>-<%= @pledge.student.id %>">
  <input type="hidden" name="quantity_1" value="1">
  <input type="hidden" name="amount_1" value="<%= @pledge.amount %>">
</form>

