<%= render "share", student: @pledge.student %>

<div class="content">
  <div class="box-960">
    <div class="small-breadcrumb">
      <div class="left-breadcrumb">
        <%= link_to "#{@pledge.student.first}'s Profile", @pledge.student.bitly_profile %>
        <a href="<%= pub_make_pledge_path(@pledge.student.obscure_id) %>"><i class="fa fa-angle-right"></i>Make a Pledge</a>
        <a href="#"><i class="fa fa-angle-right"></i>Thank You</a>
      </div>
      <div class="right-breadcrumb">
      </div>
      <div class="clear"></div>
      <div style="margin-bottom:20px;" class="decoration"></div>
    </div>

    <h1 style="margin-bottom:0;font-size:30px;"><%= @pledge.student.first %></h1>
    <br/>
    <p>
      Thank you for supporting <%= @pledge.student.first %> in this year’s “Read for Richmond!”  Your contribution will help to provide STEAM enrichment at Richmond Elementary
      through assemblies, materials, and classroom experiences, as well as other PTA activities.  Your contribution is greatly appreciated!
      Richmond PTA is a registered 501(c) non-profit organization, and your donation is tax-deductible.
    </p>

    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

