<%= render "share", student: @student %>

<div class="content">
  <div class="box-960">
    <div class="small-breadcrumb">
      <div class="left-breadcrumb">
        <%= link_to "#{@student.first}'s Profile", @student.bitly_profile %>
        <a href="#"><i class="fa fa-angle-right"></i>Make a Pledge</a>
      </div>
      <div class="right-breadcrumb">
      </div>
      <div class="clear"></div>
      <div style="margin-bottom:20px;" class="decoration"></div>
    </div>

    <div class="one-half-responsive no-bottom" style="margin-right:5%">
      <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %> <%= @student.last[0, 1] %></h1>

      <br/>
      <p>
        Make a pledge today to support <%= @student.first %> in the read-a-thon! This year’s read-a-thon is raising money to support enhanced
        experiential learning opportunities in Science, Technology, Engineering, Art and Math (STEAM) at Richmond Elementary School,
        and other PTA initiatives. Your contribution will help enhance <%= @student.first %>’s educational experience while fostering literacy during
        this fun reading program.
        <br/><br/>
        Follow <%= @student.first %>’s progress on his profile page: <a href="<%= @student.bitly_profile %>"><%= @student.bitly_profile %></a>
        <br/><br/>
        Thank you for your support!
      </p>
    </div>

    <div style="margin-top:20px;" class="one-half-responsive last no-bottom">
      <div class="horizontalTab">
        <ul>
          <li><a href="#tab-4">Pledge Fixed $ Amount</a></li>
        </ul>

        <div id="tab-4">
          <%= form_tag(pub_make_pledge_path(@student.obscure_id), id: 'fpledge', method: "post") do %>
              <input onfocus="if (this.value=='Name or Nickname (optional)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Name or Nickname (optional)'"
                     type="text" class="text-input-one good-value" name="pledge[name]"
                     value="Name or Nickname (optional)">
              <textarea class="textarea-input contactTextarea field-deco requiredField" name="pledge[message]"
                        onfocus="if (this.value=='Message (optional)') this.value = ''"
                        onblur="if (this.value=='') this.value = 'Message (optional)'">Message (optional)</textarea>
              <input onfocus="if (this.value=='Pledge Amount') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Pledge Amount'"
                     type="text" class="text-input-one good-value" name="pledge[amount]"
                     value="Pledge Amount">
              <input type="submit" class="button button-green center-button" value="Make Pledge"/>
          <% end %>
          <p class="half-bottom"></p>
        </div>
      </div>
    </div>

    <script>
      $.validator.addMethod("currencyIfNotEq", function (value, element, param) {
        if (param == value) {
          return true;
        }

        var symbol = '$',
            soft = false,
            regex;

        symbol = symbol.replace(/,/g, "");
        symbol = soft ? symbol + "]" : symbol + "]?";
        regex = "^[" + symbol + "([1-9]{1}[0-9]{0,2}(\\,[0-9]{3})*(\\.[0-9]{0,2})?|[1-9]{1}[0-9]{0,}(\\.[0-9]{0,2})?|0(\\.[0-9]{0,2})?|(\\.[0-9]{1,2})?)$";
        regex = new RegExp(regex);
        return this.optional(element) || regex.test(value);

      }, "Please specify a valid currency");

      $.validator.addMethod('between0N9999', function (value, element, param) {
        if (value == param) {
          return true;
        }

        try {
          value = value.replace(/[^0-9|.|-]/g, '');
          return this.optional(element) || (parseInt(value) <= 9999 && parseInt(value) > 0);
        }
        catch (err) {
          return false;
        }
      }, "Must be an amount between 1 and 9999");

      jQuery.validator.addMethod("requiredNotEqual", function (value, element, param) {
        return this.optional(element) || value != param;
      }, "Required Field");

      jQuery.validator.addMethod("lengthBetween", function (value, element, param) {
        if (param[0] == value) {
          return true;
        }

        return this.optional(element) || (value.length >= param[1] && value.length <= param[2]);
      }, "Length between {1} and {2}.");

      $("#fpledge").validate({
        rules: {
          "pledge[name]": {lengthBetween: ["Name or Nickname (optional)", 3, 24]},
          "pledge[amount]": {requiredNotEqual: "Pledge Amount"},
          "pledge[amount]": {currency: ['$', false]},
        }
      });
    </script>

    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

<div id="more_info" class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">Your Privacy is important to us</h1>
    <p class="center-text larger transparent">What are we going to do with your pledge data?</p>
  </div>
</div>

<div class="content">
  <div class="box-960">
    <div class="container center-heading">
      <p class="center-text larger full-bottom">
        The information you provide us is only used by this Read4Richmond. It will not be shared with any 3rd party
        organizations.  We ask for your name or nickname, so that your sponsor can see who sponsored them.
      </p>
    </div>
  </div>
</div>
