<%= render "share", student: @student %>

<div class="content">
  <div class="box-960">
    <div class="small-breadcrumb">
      <div class="left-breadcrumb">
        <%= link_to "#{@student.first}'s Profile", @student.bitly_profile %>
        <a href="#"><i class="fa fa-angle-right"></i>Make a Pledge</a>
      </div>
      <div class="right-breadcrumb">
      </div>
      <div class="clear"></div>
      <div style="margin-bottom:20px;" class="decoration"></div>
    </div>

    <div class="one-half-responsive no-bottom" style="margin-right:5%">
      <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %></h1>

      <br/>
      <p>
        You can choose how you want to support the Read-A-Thon!
        <br/><br/>
        Option 1: Pledge per hour.  If you make an hourly pledge, your total gift will depend on how much your reader reads. Most students will read for at least 30 minutes/day in the classroom for the 10 days of the Read-A-Thon, plus any reading they do on their own. You may set a minimum and/or maximum amount to your pledge, and you will be notified of your total commitment at the end of the Read-A-Thon (week of October 31).
        <br/><br/>
        Option 2: Pledge a fixed amount.  If you know exactly how much you want to give, you can make a flat donation today.  You can still follow your reader's progress by visiting their profile page during the Read-A-Thon.
        <br/><br/>
        No matter how you choose to give, your support makes a big difference - to your reader and to Richmond.  Thank you for supporting the Read-A-Thon!
      </p>
    </div>

    <div style="margin-top:20px;" class="one-half-responsive last no-bottom">
      <div class="horizontalTab">
        <ul>
          <li><a href="#tab-3">Pledge Per Hour</a></li>
          <li><a href="#tab-4">Pledge Fixed $ Amount</a></li>
        </ul>

        <div id="tab-3">
          <h6 style="margin-bottom:0">Hourly Pledge</h6>
          <%= form_tag(pub_make_pledge_path(@student.obscure_id), id: 'hpledge', method: 'post') do %>
              <input type="hidden" name="pledge[ptype]" value="hourly"/>
              <input onfocus="if (this.value=='Name or Nickname (optional)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Name or Nickname (optional)'"
                     type="text" class="text-input-one good-value" name="pledge[name]"
                     value="Name or Nickname (optional)">
              <input onfocus="if (this.value=='Email Address (required)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Email Address (required)'"
                     type="email" class="text-input-one good-value" name="pledge[email]"
                     value="Email Address (required)" required>
              <textarea class="textarea-input contactTextarea field-deco requiredField" name="pledge[message]"
                        onfocus="if (this.value=='Message (optional)') this.value = ''"
                        onblur="if (this.value=='') this.value = 'Message (optional)'">Message (optional)</textarea>
              <input onfocus="if (this.value=='Pledge Per Hour (required)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Pledge Per Hour (required)'"
                     type="text" class="text-input-one good-value" name="pledge[amount]"
                     value="Pledge Per Hour (required)">
              <input onfocus="if (this.value=='Min Amount (optional)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Min Amount (optional)'"
                     type="text" class="text-input-one good-value" name="pledge[min_amt]"
                     value="Min Amount (optional)">
              <input onfocus="if (this.value=='Max Amount (optional)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Max Amount (optional)'"
                     type="text" class="text-input-one good-value" name="pledge[max_amt]"
                     value="Max Amount (optional)">
              <input type="submit" class="button button-green center-button" value="Make Pledge"/>
          <% end %>
          <p class="half-bottom"></p>
        </div>
        <div id="tab-4">
          <h6 style="margin-bottom:0">Fixed Pledge</h6>
          <%= form_tag(pub_make_pledge_path(@student.obscure_id), id: 'fpledge', method: "post") do %>
              <input type="hidden" name="pledge[ptype]" value="flat"/>
              <input onfocus="if (this.value=='Name or Nickname (optional)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Name or Nickname (optional)'"
                     type="text" class="text-input-one good-value" name="pledge[name]"
                     value="Name or Nickname (optional)">
              <input onfocus="if (this.value=='Email Address (required)') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Email Address (required)'"
                     type="email" class="text-input-one good-value" name="pledge[email]"
                     value="Email Address (required)" required>
              <textarea class="textarea-input contactTextarea field-deco requiredField" name="pledge[message]"
                        onfocus="if (this.value=='Message (optional)') this.value = ''"
                        onblur="if (this.value=='') this.value = 'Message (optional)'">Message (optional)</textarea>
              <input onfocus="if (this.value=='Pledge Amount') this.value = ''"
                     onblur="if (this.value=='') this.value = 'Pledge Amount'"
                     type="text" class="text-input-one good-value" name="pledge[amount]"
                     value="Pledge Amount">
              <br/><strong>Clicking the 'Make Pledge' button will forward you to All Hands Raised where you can securely make your donation.  Thank You!</strong>
              <input type="submit" class="button button-green center-button" value="Make Pledge"/>
              <div style="margin-top:20px;"><i>Don't worry if you see a red error message at the top of the donation page! Once you fill in your information and click "Submit Donation", it will disappear.</i></div>
          <% end %>
          <p class="half-bottom"></p>
        </div>
      </div>
    </div>

    <script>
      $.validator.addMethod("currencyIfNotEq", function (value, element, param) {
        if (param == value) {
          return true;
        }

        var symbol = '$',
            soft = false,
            regex;

        symbol = symbol.replace(/,/g, "");
        symbol = soft ? symbol + "]" : symbol + "]?";
        regex = "^[" + symbol + "([1-9]{1}[0-9]{0,2}(\\,[0-9]{3})*(\\.[0-9]{0,2})?|[1-9]{1}[0-9]{0,}(\\.[0-9]{0,2})?|0(\\.[0-9]{0,2})?|(\\.[0-9]{1,2})?)$";
        regex = new RegExp(regex);
        return this.optional(element) || regex.test(value);

      }, "Please specify a valid currency");

      $.validator.addMethod('between0N9999', function (value, element, param) {
        if (value == param) {
          return true;
        }

        try {
          value = value.replace(/[^0-9|.|-]/g, '');
          return this.optional(element) || (parseInt(value) <= 9999 && parseInt(value) > 0);
        }
        catch (err) {
          return false;
        }
      }, "Must be an amount between 1 and 9999");

      jQuery.validator.addMethod("requiredNotEqual", function (value, element, param) {
        return this.optional(element) || value != param;
      }, "Required Field");

      jQuery.validator.addMethod("lengthBetween", function (value, element, param) {
        if (param[0] == value) {
          return true;
        }

        return this.optional(element) || (value.length >= param[1] && value.length <= param[2]);
      }, "Length between {1} and {2}.");

      $("#hpledge").validate({
        rules: {
          "pledge[name]": {lengthBetween: ["Name or Nickname (optional)", 3, 24]},
          "pledge[amount]": {requiredNotEqual: "Pledge Per Hour (required)"},
          "pledge[amount]": {currency: ['$', false]},
          "pledge[min_amt]": {currencyIfNotEq: "Min Amount (optional)"},
          "pledge[min_amt]": {between0N9999: "Min Amount (optional)"},
          "pledge[max_amt]": {currencyIfNotEq: "Max Amount (optional)"},
          "pledge[max_amt]": {between0N9999: "Max Amount (optional)"},
        }
      });

      $("#fpledge").validate({
        rules: {
          "pledge[name]": {lengthBetween: ["Name or Nickname (optional)", 3, 24]},
          "pledge[amount]": {requiredNotEqual: "Pledge Amount"},
          "pledge[amount]": {currency: ['$', false]},
        }
      });
    </script>

    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

<div id="more_info" class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">Your Privacy is important to us</h1>
    <p class="center-text larger transparent">What are we going to do with your pledge data?</p>
  </div>
</div>

<div class="content">
  <div class="box-960">
    <div class="container center-heading">
      <p class="center-text larger full-bottom">
        The information you provide us is only used by this Read-A-Thon. It will not be shared with any 3rd party
        organizations.  We ask for your name or nickname, so that your sponsor can see who sponsdered them.
        Your email address will be used to contact you at the end of the Read-A-Thon for payment. We will not use this
        address to contact you for any other purposes.
      </p>
    </div>
  </div>
</div>
