<%= render "share" %>

<div class="content">
  <div class="box-960">
    <div class="small-breadcrumb">
      <div class="left-breadcrumb">
        <%= link_to "#{@student.first}'s Profile", pub_profile_path(@student.id) %>
        <a href="<%= pub_make_pledge_path(@student.id) %>"><i class="fa fa-angle-right"></i>Make a Pledge</a>
        <a href="#"><i class="fa fa-angle-right"></i>Thank You</a>
      </div>
      <div class="right-breadcrumb">
      </div>
      <div class="clear"></div>
      <div style="margin-bottom:20px;" class="decoration"></div>
    </div>

    <div class="one-half-responsive no-bottom" style="margin-right:5%">
      <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %></h1>
      <em><%= @student.teacher.grade.ordinalize %> Grade - <%= @student.teacher.last %> sensei</em>

      <br/><br/>
      <p>Some big thank you message here</p>

    </div>


    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

