<%= render "share", student: @student %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom" style="margin-right:5%">
      <img style="float:left; margin-bottom: 20px; border-radius: 25px; border: 2px solid #000; height:150px;" src="/images/avatars/<%= @student.avatar_id %>.png"/>
      <div style="margin-left:30px; margin-top:50px; float:left;">
        <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %></h1>
      </div>
      <div class="clear"></div>
      <p class="dropcaps dropcaps-2">
        <%= @student.first %> needs your help to raise funds for Richmond Elementary School!
        By pledging <%= @student.first %> in the Read for Richmond, you are supporting teachers and staff at Richmond and encouraging daily reading.
        Visit <%= @student.first %>’s Read for Richmond page to find out how you can help.
      </p>
      <br/>
      <p>Thank you for your support!</p>

      <a href="#more_info">Find out more about how our money is raised and spent.</a>
    </div>

    <div class="one-half-responsive one-half-full" style="float:right;">
      <div class="pricing-table pricing-selected-blue">
        <h2>
          <%= days_to_end %> day(s) remaining
        </h2>
        <ul>
          <li><%= @student.first %> has read for <strong><%= mins_to_words(@student.total_minutes_read) %></strong></li>
          <li><strong><%= @student.challenges.length %></strong> badges earned</li>
          <li><strong><%= @student.pledges.where('col_amt is not null').length %></strong> pledges</li>
        </ul>

        <% if Challenge.days_remaining > 0 %>
            <a href="<%= @student.bitly_pledge %>" style="width:250px;" class="button center-button button-red">Pledge <%= @student.first %></a>
        <% else %>
          <p style="margin:20px;"><strong>The Read for Richmond has ended but...</strong>
            You can still <a style="font-weight:bold;" href="<%= @student.bitly_pledge %>">make a flat pledge to <%= @student.first %></a> or
            you can contribute directly to all Hands Raised at the <%= link_to 'All Hands Raised', 'http://allhandsraised.org/donate/' %> website either a single donation,
            or setup a recurring, monthly contribution. Make sure to select “Richmond ES” as the designated school.</p>
        <% end %>

      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

<div class="content">
  <div class="box-960" style="margin-bottom:25px;">
    <div class="decoration"></div>

    <div class="container no-bottom">
      <%= render "pubprofiles/badges", student: @student, private: false %>
      <%= render "pubprofiles/pledges", student: @student, show_all_pledge_link: false %>
      <div class="clear"></div>
    </div>
  </div>

  <%= render 'money' %>
</div>
