<%= render "share" %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom" style="margin-right:5%">
      <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %> <%= @student.last[0,1] %></h1>
      <em><%= @student.teacher.grade.ordinalize %> Grade - <%= @student.teacher.last %> sensei</em>

      <br/><br/>
      <p class="dropcaps dropcaps-2">Cain Giacomini is asking for your help to raise money for Richmond Elementary School.</p>
      <br/>
      <p class="dropcaps dropcaps-2"> Money raised through this
        drive will be used by the Foundation to help support teaching positions at Richmond. In the past these dollars
        have helped us hire a reading specialist, teaching aids, music, and library.</p>
      <br/>
      <p>Thank you for your support!</p>

      <a href="#more_info">Find out more about how our money is raised and spent.</a>
    </div>

    <div class="one-half-responsive one-half-full" style="float:right;">
      <div class="pricing-table pricing-selected-green">
        <h2>
          <%= days_to_end %> day remaining
        </h2>
        <ul>
          <li>Cain has read for <strong><%= mins_to_words(@student.student_minutes_total) %></strong></li>
          <li><strong><%= @student.challanges.length %></strong> badges earned</li>
          <li><strong><%= @student.pledges.length %></strong> pledges</li>
        </ul>
        <a href="<%= pub_pledge_path %>" class="button center-button button-red">Pledge <%= @student.first %></a>
      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

<div class="content">
  <div class="box-960" style="margin-bottom:25px;">
    <div class="decoration"></div>

    <div class="container no-bottom">
      <div class="one-half-responsive">
        <h5>Badges Cain has earned</h5>
        <% @student.challanges.each do |challange| %>
            <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
              <img style="width:120px;" src="/images/badges/badge<%= challange.id %>.png"/>
              <%= challange.description %>
            </div>
        <% end %>
      </div>

      <div class="one-half-responsive last no-bottom">
        <h5>Recent people who have pledged</h5>
        <% @student.pledges.take(5).each do |pledge| %>
            <blockquote class="quote-one">
              <strong><%= pledge.name %> has pledged $<%= pledge.amount %> an hour</strong><br/><%= pledge.message %>
            </blockquote>
            <br><br>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>



<div id="more_info" class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">So where does all the money go?</h1>
    <p class="center-text larger transparent">The breakdown of the money is easy. Our school keeps 97% of what is
      raised.</p>
  </div>
</div>

<div class="content">
  <div class="box-960">

    <div class="container center-heading">
      <p class="center-text larger">
        There is no better way for a school to raise money then a read-a-thon. Family, Friends, and neighbors understand
        how important education and reading skills are.
        Very few fundraising ideas offer such clear benefits to children and the groups they are raising money for.
      </p>
    </div>
    <div class="orange-decoration half-bottom"></div>
    <div class="container half-bottom">
      <div class="one-third-responsive">
        <div class="center-icon-column red-center-icon-column">
          <h1><i class="fa fa-dollar fa-3x"></i></h1>
          <h5>Low Overhead</h5>
          <p class="half-bottom">
            We keep as much of our fundraising dollars at Richmond. Our only expense is a 3% credit card transaction
            fee.
          </p>
          <a href="#" class="button button-red center-button">Read More</a>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive">
        <div class="center-icon-column blue-center-icon-column">
          <h1><i class="fa fa-hand-paper-o fa-3x"></i></h1>
          <h5>No Gimmick Prizes</h5>
          <p class="half-bottom">
            Our read-a-thon is not about toys. Children can redeem a small % of the money raised to buy books at our PTA
            book fare.
          </p>
          <a href="#" class="button button-blue center-button">Read More</a>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive no-bottom last">
        <div class="center-icon-column green-center-icon-column">
          <h1><i class="fa fa-child fa-3x"></i></h1>
          <h5>Supports Teaching Positions</h5>
          <p class="half-bottom">
            Our sole mission is to raise funds for staff positions at our school to help sustain Richmond's
            dual-immersion model.
          </p>
          <a href="#" class="button button-green center-button">Read More</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
