<script>
  jQuery(document).ready(function () {
    jQuery("tr:even").addClass("even");
  });
</script>

<div class="content box-960 container" style="margin-bottom: 10px;">

  <div class="small-breadcrumb">
    <div class="left-breadcrumb">
      <a href="#">Overview</a>
    </div>
    <div class="right-breadcrumb">
      <a href="<%= rmgr_teachers_path %>"><i class="fa fa-list-alt"></i>Teacher Admin</a>
      <a href="<%= rmgr_students_path %>"><i class="fa fa-user"></i>Student Admin</a>
    </div>
    <div class="clear"></div>
    <div style="margin-bottom:20px;" class="decoration"></div>
  </div>

  <h4 style="float:left;">Read-A-Thon Administration</h4>
  <div style="float:right;"><%= Time.zone.now.strftime "%m/%d/%Y %H:%M:%S" %></div>
  <div style="clear:both"></div>

  <table class="table">
    <tbody>
    <tr>
      <th>GRADE</th>
      <th class="table-title red-title">SETUP</th>
      <th class="table-title green-title">REGISTERED</th>
      <th class="table-title purple-title">MINUTES</th>
      <th class="table-title orange-title">PLEDGED</th>
      <th class="table-title blue-title">COLLECTED</th>
    </tr>
    <tr>
      <td class="table-sub-title dblue-title">K</td>
      <td><%= @summary_k[:setup] %></td>
      <td><%= @summary_k[:registered] %></td>
      <td><%= @summary_k[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_k[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_k[:collected]) %></td>
    </tr>
    <tr>
      <td class="table-sub-title dblue-title">1ST</td>
      <td><%= @summary_1[:setup] %></td>
      <td><%= @summary_1[:registered] %></td>
      <td><%= @summary_1[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_1[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_1[:collected]) %></td>
    </tr>
    <tr>
      <td class="table-sub-title dblue-title">2ND</td>
      <td><%= @summary_2[:setup] %></td>
      <td><%= @summary_2[:registered] %></td>
      <td><%= @summary_2[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_2[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_2[:collected]) %></td>
    </tr>
    <tr>
      <td class="table-sub-title dblue-title">3RD</td>
      <td><%= @summary_3[:setup] %></td>
      <td><%= @summary_3[:registered] %></td>
      <td><%= @summary_3[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_3[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_3[:collected]) %></td>
    </tr>
    <tr>
      <td class="table-sub-title dblue-title">4TH</td>
      <td><%= @summary_4[:setup] %></td>
      <td><%= @summary_4[:registered] %></td>
      <td><%= @summary_4[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_4[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_4[:collected]) %></td>
    </tr>
    <tr>
      <td class="table-sub-title dblue-title">5TH</td>
      <td><%= @summary_5[:setup] %></td>
      <td><%= @summary_5[:registered] %></td>
      <td><%= @summary_5[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_5[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_5[:collected]) %></td>
    </tr>
    <tr style="font-weight:bold;">
      <td class="table-sub-title dblue-title">TOTALS</td>
      <td><%= @summary_t[:setup] %></td>
      <td><%= @summary_t[:registered] %></td>
      <td><%= @summary_t[:minutes] %></td>
      <td class="price"><%= number_to_currency(@summary_t[:pledged]) %></td>
      <td class="price"><%= number_to_currency(@summary_t[:collected]) %></td>
    </tr>
    </tbody>
  </table>
  <br/>

  <%= link_to "Collected Pledges", rmgr_collected_path(format: 'csv'), class: 'button button-light', style: 'width:200px; float:right; margin-left:10px;' %>
  <%= link_to "Uncollected Pledges", rmgr_uncollected_path(format: 'csv'), class: 'button button-light', style: 'width:200px; float:right; margin-left:10px;' %>
  <%= link_to 'Unregistered Students', rmgr_unregistered_path(format: 'csv'), class: 'button button-light half-bottom', style: "float:right; margin-right:10px;" %>

</div>