<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <p>
    <h1 style="margin-bottom:0;font-size:30px;">Hi <%= @student.first %> <%= @student.last[0, 1] %></h1></p>
    <p>
      You're almost finished!  Please enter a parent's or guardian's e-mail address.
      We need this information so that we can help you if you lose your code, let you know when you receive pledges, or share other important news about the Read-A-Thon.
      We will keep your e-mail private.
    </p>
  </div>

  <div class="login-box-one one-third-responsive">
    <div style="display: none; width: 270px;margin: 0 auto;">
    </div>
    <div style="width: 270px;margin: 0 auto;">
      &nbsp;
    </div>
  </div>

  <div id="email_form" style="margin-top:30px;display:block;" class="one-third-responsive">
    <div class="register-box-one full-bottom">
      <div class="register-box-wrapper">
        <%= form_tag(register_path, method: "post") do %>
            <input type="hidden" name="code" value="<%= @student.code %>"/>
            <h5 class="center-text">Email Registration</h5>
            <em><i class="fa fa-lock"></i>Code</em>
            <input type="text" diabled="true" value="<%= @student.code %>" class="green-focus register-box-one-username">
            <em><i class="fa fa-envelope"></i>Email</em>
            <input onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" name="email" type="text" value="" class="green-focus register-box-one-email">
            <input type="submit" style="color:white" class="button button-green center-button" value="Register"/>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</div>