<%= render '/includes/strip' %>

<div class="content">

  <div class="login-box-one one-third-responsive">
    <div style="display: none; width: 270px;margin: 0 auto;">
    </div>
    <div style="width: 270px;margin: 0 auto;">
      &nbsp;
    </div>
  </div>

  <%= devise_error_messages! %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, style: 'overflow:visible;' }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="login-box-one one-third-responsive full-bottom">
      <div class="login-wrapper half-bottom">
        <img src="/images/rsf_logo.png" alt="img">
        <p class="half-bottom" style="margin-top:70px;"></p>
        <em><i class="fa fa-lock"></i>Password</em>
        <%= f.password_field :password, autocomplete: "off", class: 'green-focus login-box-one-pwd half-bottom' %>
        <em><i class="fa fa-lock"></i>Confirm Password</em>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'green-focus login-box-one-pwd half-bottom' %>
        <%= f.submit "Change my password", class: "button button-green center-button" %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
