<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Help support <%= @student.first %>'s Read4Richmond</title>
</head>
<body>
  Dear <%= @name %>,
  <br/><br/>
  <% unless @message == "Personal Message (optional)" %>
      <%= @message %>
    <br/><br/>
  <% end %>
  I am excited to participate in the Richmond PTA’s Read4Richmond this year, and I need your help! You can support student enrichment and other PTA initiatives at Richmond by pledging my participation in Read4Richmond today! This year, funds raised from Read4Richmond will underwrite a significant expansion of leveled Japanese books across all grades. To best support students at individual reading skill levels, the Japanese teachers at Richmond need to purchase hundreds of books for EACH classroom. Please visit Read4Richmond.com for examples of how pledge money will be used.
  <br/><br/>
  I have made a commitment to read every day. I will keep track of the minutes I read, and you can visit my profile page any time to see how I’m doing <a href="<%= @student.bitly_profile %>"><%= @student.bitly_profile %></a>.
  You can pledge me using this link <a href="<%= @student.bitly_pledge %>"><%= @student.bitly_pledge %></a>.
  You can also mail a check to Richmond School PTA, 2276 SE 41 ST Ave., Portland OR, 97214. Just be sure to put my name and “Read4Richmond” in the memo line!
  <br/><br/>
  Thank you for encouraging me to read, and for supporting literacy and student enrichment at Richmond!
  <br/><br/>
  Sincerely,
  <br/>
  <%= @student.first %> <%= @student.last %>
</body>
</html>