<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Help support <%= @student.first %>'s read-a-thon</title>
</head>
<body>
  Dear <%= @name %>,
  <br/><br/>
  <% unless @message.nil? %>
      <%= @message %>
    <br/><br/>
  <% end %>
  Will you please support me in my school's Read-a-thon?
  <br/><br/>
  The money I raise will support art, reading, and science docent programs, a kindergarten music teacher, a computer teacher, field trips, and classroom supplies.
  <br/><br/>
  I am committed to reading everyday and will keep track of the minutes I read. A pledge of $1 to $5 an hour or a flat donation of $5 to $50 will help me reach my personal goal of raising $250 or more!
  <br/><br/>
  I appreciate any amount you are able to send!
  <br/><br/>
  The easist way to pledge me is through our read-a-thon system <%= @profile_bitly_url %>
  <br/><br/>
  Or you can mail a check to me, payable to Richmond Elementary School Foundation.
  <br/><br/>
  Thank you for helping me to reach my goal!
  <br/><br/>
  Love, <%= @student.first %> <%= @student.last %>
</body>
</html>