<%= render '/includes/strip' %>

<div class="content">

  <div class="login-box-one one-third-responsive">&nbsp;</div>

  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {style: 'overflow:visible;'} do |f| %>
    <div class="login-box-one one-third-responsive full-bottom">
      <div class="login-wrapper half-bottom">

        <h5 class="center-text">Read for Richmond Login</h5>
        <p class="center-text half-bottom" style="margin-top:10px;">
          Login to access your children's profiles.
        </p>

        <% if resource.errors.any? %>
          <div class="red-notification" style="margin-bottom:20px;">
            <p class="uppercase" style="font-size:smaller;text-align:left;margin-top:5px;margin-bottom:5px;">
              <i class="fa fa-warning"></i>
              <% resource.errors.full_messages.each do |msg| %><%= msg %><br/><% end %>
            </p>
          </div>
        <% end %>

        <em><i class="fa fa-envelope"></i>Email</em>
        <%= f.email_field :email, autofocus: true, class: 'green-focus login-box-one-pwd half-bottom' %>
        <em><i class="fa fa-lock"></i>Password</em>
        <%= f.password_field :password, autocomplete: "off", class: 'green-focus login-box-one-pwd half-bottom' %>
        <%= f.submit "Login", class: "button button-green center-button" %>
        <em class="forgot-login no-bottom" style="margin-top:10px;"><a href="<%= new_registration_path(resource_name) %>">Sign up for the Read for Richmond</a></em>
        <em class="forgot-login no-bottom"><a href="<%= new_password_path(resource_name) %>">Forgot your password?</a></em>
      </div>
    </div>
  <% end %>

  <div class="clear"></div>

</div>