<script>
    jQuery(document).ready(function () {
        jQuery("#logout").click(function () {
            jQuery("#logout_form").submit();
        });
    });
</script>

<%= form_tag(destroy_user_session_path, id: 'logout_form', method: 'delete') do %><% end %>

<%= render '/includes/strip' %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom">
      <p class="dropcaps dropcaps-3">
        Parents, use this page to create new registrations for your children.  After you have registered,
        you will see a link to your kids' personal pages.  Click the link to launch your child's Read for Richmond page.
      </p>
      <div>
        <p style="margin-top:30px;">
          <% current_user.students.each do |student| %>
            <a href="<%= autologin_path(student.code) %>" class="button button-icon button-green">
              <i class="fa fa-user"></i>Access <%= student.first %>'s Profile</a>
            <br/><div style="margin-top:5px;"></div>
          <% end %>
        </p>
        <p style="margin-top:50px;">
          <a href="#" id="logout" class="button button-icon button-red">
            <i class="fa fa-sign-out"></i>Sign Out</a>
        </p>
      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <div>
        <p class="dropcaps dropcaps-3">
          Register your children below.  After registering, your child can start logging their reading and collecting pledges.
          <br/><br/>

          <% if @student.errors.any? %>
            <div class="red-notification" style="margin-bottom:20px;">
            <p class="uppercase" style="font-size:smaller;text-align:left;margin-top:5px;margin-bottom:5px;">
              <i class="fa fa-warning"></i>
              <% @student.errors.full_messages.each do |msg| %><%= msg %><br/><% end %>
            </p>
            </div>
          <% end %>

          <%= form_for @student, id: 'add_student', url: add_student_path do |f| %>
          <div class="field half-bottom">
            <%= f.label :first, class: 'field-title defaultField' do %>
              First <span>(required)</span>
            <% end %>
            <%= f.text_field :first, class: 'contactField field-deco requiredField' %>
          </div>

          <div class="field half-bottom">
            <%= f.label :last, class: 'field-title defaultField' do %>
              Last <span>(required)</span>
            <% end %>
            <%= f.text_field :last, class: 'contactField field-deco requiredField' %>
          </div>

          <div class="field half-bottom">
            <%= f.label :teacher_id, class: 'field-title defaultField' do %>
              Teacher <span>(required)</span>
            <% end %>
            <%= f.select :teacher_id, options_for_select(@teachers, @student.teacher.id), {include_blank: true}, {class: 'contactField field-deco requiredField'} %>
          </div>
          <%= f.submit "Add Student", class: 'button button-blue half-bottom', style: "height:40px; float:left; margin-right:10px;" %>
        <% end %>
        <br/>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>

<script>
    jQuery.validator.addMethod("requiredNotEqual", function (value, element, param) {
        return this.optional(element) || value != param;
    }, "Required Field");

    $("#add_student").validate({
        rules: {
            "student[teacher_id]": {requiredNotEqual: ""},
        }
    });
</script>

</div>
